---
import Layout from "@layouts/Layout.astro";
import { team } from "src/lib/team";

const { id } = Astro.params;
const member = team.find((member) => member.id === id);
---

<Layout title=`- ${member?.name}`>
    <div id="container">
        <picture>
            <img
                src={member?.img}
                alt=`Fotografía de ${member?.name}`
                transition:name=`img transition ${member?.id}`
            />
        </picture>
        <div>
            <h2 transition:name=`name transition ${member?.id}`>
                {member?.name}
            </h2>
            <h3 transition:name=`role transition ${member?.id}`>
                {member?.role}
            </h3>
            <p>{member?.description}</p>
        </div>
    </div>
</Layout>

<style>
    #container {
        display: flex;
        gap: 25px;
        width: 700px;
        margin: 100px auto;
    }

    #container div {
        display: flex;
        flex-direction: column;
    }

    picture {
        width: 50%;
    }

    img {
        width: 300px;
        height: 400px;
        object-fit: cover;
    }

    h3 {
        font-size: 15px;
        color: var(--grayNeros);
    }

    p {
        margin-top: 50px;
        text-align: justify;
    }
</style>
