---
import Sponsors from "@components/Sponsors.astro";
import TeamCard from "@components/TeamCard.astro";
import Layout from "@layouts/Layout.astro";
import { team, TeamMember } from "src/lib/team";
---

<Layout title=" - Nosotros">
    <h2 data-aos="fade-in" data-aos-duration="800">Conoce al equipo</h2>
    <div id="container">
        {
            team.map((member: TeamMember) => (
                <TeamCard
                    id={member.id}
                    img={member.img}
                    name={member.name}
                    role={member?.role}
                    bgColor={member?.bgColor}
                />
            ))
        }
    </div>
    <Sponsors />
</Layout>

<style>
    h2 {
        text-align: center;
        padding-top: 50px;
        font-size: 50px;
        background: linear-gradient(90deg, var(--blueNeros), var(--pinkNeros));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 50px 0;
    }

    @media (max-width: 1024px) {
        #container {
            flex-direction: column;
            gap: 50px;
        }
    }

    @media (max-width: 767px) {
        #container {
            margin-top: 25px;
        }
        h2 {
            font-size: 32px;
        }
    }
</style>
