---
import AnimatedButton from "./AnimatedButton.astro";

interface Props {
    id: string;
    img: string;
    name: string;
    role: string;
    bgColor: string;
}

const { id, name, role, img, bgColor } = Astro.props;
---

<div data-aos="zoom-in-up" data-aos-duration="300">
    <picture>
        <img
            src={img}
            alt=`Fotografía de ${name}`
            transition:name=`img transition ${id}`
        />
    </picture>
    <h2 transition:name=`name transition ${id}`>{name}</h2>
    <h3 transition:name=`role transition ${id}`>
        {role}
    </h3>
    <AnimatedButton bgColor={bgColor} href=`/nosotros/${id}` />
</div>

<style>
    div {
        width: 300px;
        height: 450px;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow:
            rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        gap: 10px;
    }

    img {
        width: 200px;
        height: 250px;
        object-fit: cover;
        margin: 25px 0;
        mask-image: linear-gradient(black 80%, transparent);
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
        color: var(--grayNeros);
    }
</style>
